LITHOPS_RUNTIME="lithops_v2-5-8_ke73/sc-runtime" #changeme
STORAGE_BUCKET="mytestbucket" #changeme
PICKLE_DB="/path/to/bucket-hash.db" #changeme - database will be created if it doesn't exist
MODULE_DIR="/path/to/shadowclone/modules/" #changeme
